APP_NAME=SomeKorean
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://somekorean.com
APP_TIMEZONE=America/New_York
APP_LOCALE=ko
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=somekorean
DB_USERNAME=somekorean_user
DB_PASSWORD=
BROADCAST_CONNECTION=reverb
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
CACHE_STORE=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
JWT_SECRET=
REVERB_APP_ID=somekorean_app
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=somekorean.com
REVERB_PORT=443
REVERB_SCHEME=https
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
